<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-2144">
    <div class="cs-container">
        <div class="cs-left-section">
            <h1 class="cs-title">STAY UPDATED</h1>
            <p class="cs-text">
                Sign up to be the first to find out when we add new classes, amenities, and more.
            </p>
        </div>
        <div class="cs-right-section">
            <div class="cs-contact">
                <form class="cs-form" name="Contact Form" method="post">
                    <input class="cs-input" type="email" id="cs-email-301-1718" name="find-us" placeholder="Email Address" required>
                    <button class="cs-button-solid cs-submit" type="submit">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>
</section>
                                