<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<!--NOTE: Make sure the section above this footer has the same background color as the footer for a seamless trasition between them-->

<footer id="cs-footer-1783">
    <!--Contact Info-->
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="240" height="32">
            </a>
        </div>
    </div>
    <div class="cs-card-group">
        <div class="cs-card">
            <div class="cs-flex">
                <h3 class="cs-h3">Location</h3>
                <span class="cs-card-info">220 Torbay Rd, Markham, ON L3R 1G6</span>
            </div>
        </div>
        <div class="cs-card">
            <div class="cs-flex">
                <h3 class="cs-h3">Working Hours</h3>
                <span class="cs-card-info">Monday - Friday: 4:00 - 9:00pm</span>
                <span class="cs-card-info">Saturday: 8:00am - 12:00am</span>
                <span class="cs-card-info">Sunday: 8:00am - 12:00am </span>
            </div>
        </div>
        <div class="cs-card">
            <div class="cs-flex">
                <h3 class="cs-h3">Contacts</h3>
                <a href="" class="cs-card-info">M: (647) 699-0644</a>
                <a href="" class="cs-card-info">E: info@therec44.com</a>
            </div>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2024 - <a href="" class="cs-credit-link" target="_blank">The Rec 44</a>
        </span>
        <div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Terms & Conditions</a>
            <a href="" class="cs-bottom-link">Privacy Policy</a>
        </div>
    </div>
</footer>
                                