<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link cs-active">
                            HOME
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/virtual-tour" class="cs-li-link">
                            VIRTUAL TOUR
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/programs" class="cs-li-link">
                            PROGRAMS
                        </a>
                    </li>
                    <!--Nav Logo in center-->
                    <li class="cs-li cs-logo-center">
                        <a href="" class="cs-logo" aria-label="back to home">
                            <img src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20White-02.png" alt="logo" width="270" height="270" aria-hidden="true" decoding="async">
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about-us" class="cs-li-link">
                            ABOUT US
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/facilities" class="cs-li-link">
                            FACILITIES
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/contact-us" class="cs-li-link">
                            CONTACT US
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<style>
    .cs-logo-center {
        text-align: center;
        list-style: none;
    }
    .cs-logo-center .cs-logo img {
        display: block;
        margin: 0 auto;
    }
</style>
