---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about-us/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
 <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1351">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">ABOUT US</h1>
            <p class="cs-text">
                The Rec44 is more than just a multi sport facility – it's a community. Born from a deep love for the game, we've created a place where players of all levels can come together to improve, compete, and connect. We're committed to providing a vibrant and supportive environment where you can pursue your athlete dreams. 
            </p>
        </div>
    </div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/about%20us.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/about%20us.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/about%20us.png" alt="court" width="2216" height="3936" aria-hidden="true">
    </picture>
</section> 

 <!-- ============================================ -->
<!--                    Quote                     -->
<!-- ============================================ -->

<section id="quote-1307">
    <div class="cs-container">
        <div class="cs-content">
            <p class="cs-quote">
                TO ELEVATE EVERY ATHLETE'S PERFORMANCE AND PASSION, PROVIDING A TOP-TIER FACILITY, EXPERT COACHING, AND A SUPPORTIVE 44 COMMUNITY WHERE DREAMS ARE NURTURED AND ACHIEVEMENTS CELEBRATED
            </p>
        </div>
    </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source media="(max-width: 600px)"
                    srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20prim-02.png">
            <source media="(min-width: 601px)"
                    srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20prim-02.png">
            <img aria-hidden="true" loading="lazy" decoding="async"
                    src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20prim-02.png"
                    alt="rec44 logo" width="360" height="316">
        </picture>
</section>

    {% include 'components/cta.html' %}

{% endblock %}