---
title: 'Our Facilities | Sports & Recreation Venue | Markham, ON'
description: 'Our full courts are also available for long-term use. Perfect for leagues, consistent training, or events over several weeks or months.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'facilities/'
eleventyNavigation:
    key: Project Facilities
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/facilities.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1351">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">WHERE PASSION </br>MEETS PERFORMANCE</h1>
            <a href="" class="cs-button-solid">Book A Court</a>
        </div>
    </div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/hero.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/hero.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/hero.png" alt="abstract background" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>                          

<!-- ============================================ -->
<!--              Multi Sport Court               -->
<!-- ============================================ -->

<section id="multisport">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">MULTI SPORT COURT</h1>
            <h3 class="cs-h3">
                $125 + TAX PER HOUR
            </h3>
            <p class="cs-text">
                Our full courts are also available for long-term use. Perfect for leagues, consistent training, or events over several weeks or months.
            </p>
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/multi%20sport%20court.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/multi%20sport%20court.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/multi%20sport%20court.png" alt="multi sport court" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="500" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
    </div>
</section>
 
<!-- ============================================ -->
<!--                 Half Court                   -->
<!-- ============================================ -->

<section id="halfcourt">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">HALF COURT</h1>
            <h3 class="cs-h3">
                $65 + TAX PER HOUR
            </h3>
            <p class="cs-text">
                Our half courts are also available for long-term use. Ideal for regular practices or smaller events that need more frequent access.
            </p>
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/multi%20sport%20court%20(1).png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/multi%20sport%20court%20(1).png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/multi%20sport%20court%20(1).png" alt="half court" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="500" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--              Shooting Machine                -->
<!-- ============================================ -->

<section id="halfcourt">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">SHOOTING MACHINE</h1>
            <p class="cs-text">
                Practice your shooting accuarcy with Dr. Dish
            </p>
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/shooting%20machine.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/shooting%20machine.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/shooting%20machine.png" alt="half court" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="500" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--             Revibe Sports Clinic             -->
<!-- ============================================ -->

<section id="halfcourt">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">REVIBE SPORTS CLINIC</h1>
            <h3 class="cs-h3">
                Rehabilitation & Recovery
            </h3>
            <p class="cs-text">
                Stay in peak condition with the help of our sports therapy, injury prevention, and recovery programs. Our experts are here to keep you playing your best.
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/revibe%20sports%20clinic.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/revibe%20sports%20clinic.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/revibe%20sports%20clinic.png" alt="half court" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="500" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--             Tempo Fitness             -->
<!-- ============================================ -->

<section id="halfcourt">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Tempo Fitness</h1>
            <h3 class="cs-h3">
                Strength & Fitness
            </h3>
            <p class="cs-text">
                Specialized fitness programs and state-of-the-art equipment to keep you in top shape.
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/tempo%20fitness.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/tempo%20fitness.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/tempo%20fitness.png" alt="half court" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="500" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--             Move Fit Lab            -->
<!-- ============================================ -->

<section id="halfcourt">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">MOVE FIT LAB</h1>
            <h3 class="cs-h3">
                Sports Science & Performance
            </h3>
            <p class="cs-text">
                Bridging the gap between sports science and performance to help athletes optimize movement and athleticism.
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/multi%20sport%20court%20(1).png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/multi%20sport%20court%20(1).png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/multi%20sport%20court%20(1).png" alt="half court" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>     


    {% include 'components/cta.html' %}

{% endblock %}