---
title: 'Our Programs | Sports & Recreation Venue | Markham, ON'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'programs/'
eleventyNavigation:
    key: Blog
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/programs.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1351">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">OUR PROGRAMS</h1>
            <a href="" class="cs-button-solid-2">Book Now</a>
        </div>
    </div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/OUR%20PROGRAMS.jpeg">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/OUR%20PROGRAMS.jpeg">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/OUR%20PROGRAMS.jpeg" alt="programs" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>                          


<!-- ============================================ -->
<!--             REC LEAGUES              -->
<!-- ============================================ -->

<section id="multisport">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">REC LEAGUES</h1>
            <p class="cs-text">
                Our full courts are also available for long-term use. Perfect for leagues, consistent training, or events over several weeks or months.
            </p>
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid-2">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/REC%20LEAGUES.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/REC%20LEAGUES.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/REC%20LEAGUES.png" alt="rec leagues" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="500" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--             REC RUNS              -->
<!-- ============================================ -->

<section id="multisport">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">REC RUNS</h1>
            <p class="cs-text">
                Our half courts are also available for long-term use. Perfect for leagues, consistent training, or events over several weeks or months.
            </p>
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid-2">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/REC%20RUNS.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/REC%20RUNS.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/REC%20RUNS.png" alt="rec runs" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="500" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--             HOOP OFFICE              -->
<!-- ============================================ -->

<section id="multisport">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">HOOP OFFICE</h1>
            <p class="cs-text">
                Practice your shooting accuarcy with Dr. Dish
            </p>
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid-2">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/HOOP%20OFFICE.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/HOOP%20OFFICE.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/HOOP%20OFFICE.png" alt="hoop office" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="500" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--             BADMINTON             -->
<!-- ============================================ -->

<section id="multisport">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">BADMINTON</h1>
            <p class="cs-text">
                Stay in peak condition with the help of our sports therapy, injury prevention, and recovery programs. Our experts are here to keep you playing your best.
            </p>
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid-2">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/BADMINTON.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/BADMINTON.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/BADMINTON.png" alt="badminton" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="500" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--             VOLLEYBALL             -->
<!-- ============================================ -->

<section id="multisport">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">VOLLEYBALL</h1>
            <p class="cs-text">
                Specialized fitness programs and state-of-the-art equipment to keep you in top shape.
            </p>
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid-2">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/VOLLEYBALL.jpeg">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/VOLLEYBALL.jpeg">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/VOLLEYBALL.jpeg" alt="multi sport court" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="1000" width="500" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/Rec%2044%20Logo%20word%20mark-01.png" alt="logo" width="1000" height="1000" loading="lazy" decoding="async">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--             PICKLEBALL             -->
<!-- ============================================ -->

<section id="multisport">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">PICKLEBALL</h1>
            <p class="cs-text">
                Bridging the gap between sports science and performance to help athletes optimize movement and athleticism.
            </p>
        </div>
        <div class="cs-wrapper">
            <div class="cs-flex">
                <a href="" class="cs-button-solid-2">Book Now</a>
            </div>           
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/PICKLEBALL.png">
        <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/PICKLEBALL.png">
        <img decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/rec44/PICKLEBALL.png" alt="pickleball" width="2216" height="3936" aria-hidden="true">
    </picture>
</section>          


{% endblock %}