/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1351 {
    /* 250px - 500px - leaving extra space for the navigation */
    padding: clamp(15.625rem, 35.95vw, 28rem) 1rem 0;
    /* 200px - 250px */
    padding-bottom: clamp(12.5rem, 16.5vw, 5.625rem);
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-1351 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
  }
  #hero-1351 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    justify-content: end;
  }
  #hero-1351 .cs-title {
    line-height: 1.1em;
    text-align: inherit;
    max-width: 30ch;
    margin: 0 0 1rem 0;
    color: #fff;
    position: relative;
  }
  #hero-1351 .cs-button-solid {
    justify-content: center;
    align-items: center;
  }
  #hero-1351 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1351 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-1351 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* Tablet - 768px */
  /* Large Desktop - 1300px */
  /* Large Desktop Parallax Effect - 1600px */
  /* Larger Desktop - 1800px */
}
@media only screen and (min-width: 0rem) and only screen and (min-width: 48rem) {
  #hero-1351 .cs-content {
    width: 50%;
  }
}
@media only screen and (min-width: 0rem) and only screen and (min-width: 81.25rem) {
  #hero-1351 .cs-bubbles1 {
    /* 200px - 450px */
    margin-left: clamp(12.5rem, 20vw, 28.125rem);
    top: 10.75rem;
    right: auto;
    left: 50%;
  }
}
@media only screen and (min-width: 0rem) and only screen and (min-width: 100rem) {
  #hero-1351 .cs-background {
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #hero-1351 .cs-background img {
    display: none;
  }
}
@media only screen and (min-width: 0rem) and only screen and (min-width: 112.5rem) {
  #hero-1351 .cs-bubbles2 {
    margin-right: 50rem;
    right: 50%;
    left: auto;
    top: 13.125rem;
    bottom: auto;
  }
}
